@charset "UTF-8";

.clear::after {
    display: block;
    content: '';
    clear: both;
}


body { font-family:Arial, Helvetica, sans-serif; }
a { color: inherit; }
header { background: rgb(0, 0, 0); color: #fff;}
.header_in {position: relative; width: 1240px; margin: auto; height: 100px; padding: 0 20px;}
h1 { float: left; line-height: 100px; }
h1 span {padding-left: 8px;}

/*nav 가운데 정렬하는 방법 2가지*/
/* nav {position: absolute; left: 50%; width: 600px; margin-left: -250px;} */
/* nav { position: absolute; left: 50%; transform: translate(-50%);} (최신 ver. css3)*/

nav {position: absolute; left: 50%; width: 600px; margin-left: -250px;};
nav ul {}
nav li { float: left; }
nav a { display: block; line-height: 100px; margin: 0 15px; font-size: 16px; }

nav .close_btn { display: none; }
.allBtn { display: none; }
.sign { float: right; line-height: 100px;}


#visual { width: 1200px; background: #666; height: 500px; margin: auto; }

#contents {width: 1200px; margin: auto; }
#contents div { width: 25%; height: 300px; float: left; }
.con1 { background: rgb(228, 77, 77); }
.con2 { background: rgb(221, 145, 59); }
.con3 { background: rgb(235, 227, 116); }
.con4 { background: rgb(100, 206, 109); }

footer { background: #000; }
.footer_in { position:relative; width:1240px; height:100px; margin:auto; text-align: right; padding:0 20px; color: #fff; }



/* 1240px 보다 작을 때 */
@media (max-width: 1240px) {
    .header_in { width:100%; }
    #visual { width:100%; height:400px; }    
    #contents { width:100%; }
    #contents > div { width:50%; }

/* 960px 보다 작을 때 */
@media (max-width: 960px) {
    .header_in { height: 80px; }
    h1 { font-size:25px; line-height: 80px;}
    nav { margin-left:-150px; top: -10px; }
    nav a { margin:0 10px; font-size:14px; }
    .sign { line-height: 80px; }
    .sign span { display:none; }
}

/* 720px 보다 작을 때 */
@media (max-width: 720px) {
    .header_in { position: static; height:50px; }
    h1 { position:absolute; left:50%; transform:translate(-50%) ; float:none; line-height:50px; }
    nav { position: fixed; width: 300px; left: -300px; top: 0; bottom: 0; margin-left: 0; padding: 50px 0 0 20px; display:block; background: #fff; }
    nav li { float: none; }
    nav a { color: #111; line-height: 40px; margin: 0; font-size: 16px; }
    nav .close_btn { display: block; position: absolute; right: 10px; top: 10px; }
    .allBtn { float:left; display:block; line-height:50px;}
    .sign { line-height:50px; }
    #contents > div { width:100%; height:200px; float:none; }
    .footer_in { text-align: center; }
}